Los Alamos National Laboratory - Earthquake analysis
------------------------------------------------------------------------------

In [1]:
import pandas as pd
import numpy as np
import seaborn as sb
import os
import matplotlib.pyplot as plt

In [3]:
def extract_features(df):
    # container
    data = []
    
    # features from the acoustic data set only, since the segments contain nothing else
    max_acoustic = df['acoustic_data'].max()
    mean_acoustic = df['acoustic_data'].mean()
    
    data.append([mean_acoustic])
    data.append([df['acoustic_data'].std()])
    data.append([max_acoustic])
    data.append([df['acoustic_data'].min()])
    
    #number of `peaks` -> above mean + (max-mean)/2 -> any value above (max + mean)/2
    signal_values = df['acoustic_data'].loc[df['acoustic_data'] > (max_acoustic + mean_acoustic) / 2.]
    
    signal_values = np.array(signal_values)
    
    data.append([signal_values.shape[0]]) # number of peaks
    
    data.append(np.correlate(df['acoustic_data'].values[::1000],
                       df['acoustic_data'].values[::1000], mode='same')) # auto-correlate 0.01 % of the data
                                                                         # to see how self-similair it is
                                             
    acoustic_histo = np.histogram(df['acoustic_data'], bins=75)
    data.append(acoustic_histo[0]) # bins
    data.append(acoustic_histo[0]) # values
    
    data.append(np.abs(np.fft.fft(df['acoustic_data'].values[::1000], n=100)))
    
    # we must flatten out the features
    return [item for sublist in data for item in sublist]

In [ ]:
TextFileReader = pd.read_csv('../input/train.csv', chunksize=150000) # the segment files contain 150000 lines each!

reduced_data = dict()
counter = 0

for df in TextFileReader:
    reduced_data[counter] = dict()
    last_time_to_failure = df['time_to_failure'].values[::-1][0]
    reduced_data[counter][last_time_to_failure] = extract_features(df)
    counter += 1
    if counter % 250 == 0: print('%d segments - done.' % counter)

250 segments - done.

In [4]:
TextFileReader = pd.read_csv('../input/train.csv', chunksize=150000, skiprows=25000)

for df in TextFileReader:
    df.columns = ['acoustic_data', 'time_to_failure']
    reduced_data[counter] = dict()
    last_time_to_failure = df['time_to_failure'].values[::-1][0]
    reduced_data[counter][last_time_to_failure] = extract_features(df)
    counter += 1
    if counter % 250 == 0: print('%d segments - done.' % counter)

4250 segments - done.
4500 segments - done.
4750 segments - done.
5000 segments - done.
5250 segments - done.
5500 segments - done.
5750 segments - done.
6000 segments - done.
6250 segments - done.
6500 segments - done.
6750 segments - done.
7000 segments - done.
7250 segments - done.
7500 segments - done.
7750 segments - done.
8000 segments - done.
8250 segments - done.

In [5]:
TextFileReader = pd.read_csv('../input/train.csv', chunksize=150000, skiprows=75000)

for df in TextFileReader:
    df.columns = ['acoustic_data', 'time_to_failure']
    reduced_data[counter] = dict()
    last_time_to_failure = df['time_to_failure'].values[::-1][0]
    reduced_data[counter][last_time_to_failure] = extract_features(df)
    counter += 1
    if counter % 250 == 0: print('%d segments - done.' % counter)

8500 segments - done.
8750 segments - done.
9000 segments - done.
9250 segments - done.
9500 segments - done.
9750 segments - done.
10000 segments - done.
10250 segments - done.
10500 segments - done.
10750 segments - done.
11000 segments - done.
11250 segments - done.
11500 segments - done.
11750 segments - done.
12000 segments - done.
12250 segments - done.
12500 segments - done.

In [6]:
len(reduced_data) # number of segments achieved that we could predict on!

12584

In [7]:
dataframes = []

for index in range(len(reduced_data)):
    df = pd.DataFrame.from_dict(reduced_data[index], orient='index')
    df['_id'] = index
    df['ttf'] = df.index
    df.set_index('_id', inplace=True)
    dataframes.append(df)
    
del reduced_data

In [8]:
for df in dataframes:
    df.to_csv('df_all.csv', mode='a', header=False, index=False)

del dataframes

In [9]:
train = pd.read_csv('df_all.csv', header=None)
os.remove('df_all.csv')

train.head()

        0         1    2      ...           403         404       405
0  4.884113  5.101106  104    ...     26.806422   27.947093  1.430797
1  4.725767  6.588824  181    ...     89.884238   71.749796  1.391499
2  4.906393  6.967397  140    ...     71.785660  107.465529  1.353196
3  4.902240  6.922305  197    ...     19.142712   28.609305  1.313798
4  4.908720  7.301110  145    ...     35.405836   66.648238  1.274400

[5 rows x 406 columns]

In [10]:
from sklearn.preprocessing import normalize

In [11]:
train = train.dropna()
train.shape

(12581, 406)

In [12]:
X = normalize(train.values[:, :405])
y = train.values[:, 405]

In [13]:
del train

In [14]:
import tensorflow as tf
tf.enable_eager_execution()

In [15]:
X_ = np.reshape(X, (X.shape[0], 1, X.shape[1]))

dataset = tf.data.Dataset.from_tensor_slices((X_, y))
sequences = dataset.batch(1, drop_remainder=True)

In [16]:
for seq, target in sequences.take(1):
    print(seq.shape, target)

WARNING:tensorflow:From /opt/conda/lib/python3.6/site-packages/tensorflow/python/data/ops/iterator_ops.py:532: colocate_with (from tensorflow.python.framework.ops) is deprecated and will be removed in a future version.
Instructions for updating:
Colocations handled automatically by placer.
(1, 1, 405) tf.Tensor([1.43079719], shape=(1,), dtype=float64)

In [17]:
BATCH_SIZE = 6

BUFFER_SIZE = 20000

dataset = dataset.shuffle(BUFFER_SIZE).batch(BATCH_SIZE, drop_remainder=True)

dataset

In [18]:
if tf.test.is_gpu_available():
    rnn = tf.keras.layers.CuDNNGRU
else:
    import functools
    rnn = functools.partial(
        tf.keras.layers.GRU, recurrent_activation='sigmoid')

In [19]:
def build_model(rnn_units, batch_size):
    model = tf.keras.models.Sequential([
        tf.keras.layers.InputLayer(input_shape=(1, 405), batch_size=batch_size),
        tf.keras.layers.Dense(1024, activation='relu'),
        rnn(rnn_units),
        tf.keras.layers.Dense(256, activation='relu'),
        tf.keras.layers.Dense(1024, activation='relu'),
        tf.keras.layers.Dense(1, activation='relu')
    ])
    return model

In [20]:
model = build_model(1024, BATCH_SIZE)

In [21]:
model.summary()

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (6, 1, 1024)              415744
_________________________________________________________________
cu_dnngru (CuDNNGRU)         (6, 1024)                 6297600
_________________________________________________________________
dense_1 (Dense)              (6, 256)                  262400
_________________________________________________________________
dense_2 (Dense)              (6, 1024)                 263168
_________________________________________________________________
dense_3 (Dense)              (6, 1)                    1025
=================================================================
Total params: 7,239,937
Trainable params: 7,239,937
Non-trainable params: 0
_________________________________________________________________

In [22]:
def loss(labels, logits):
    return tf.keras.losses.MSE(labels, logits)

In [23]:
model.compile(
    optimizer = tf.train.AdamOptimizer(learning_rate=0.001),
    loss = loss)

In [24]:
EPOCHS = 35

samples_per_epoch = X.shape[0]
steps_per_epoch = samples_per_epoch // BATCH_SIZE

history = model.fit(dataset.repeat(), epochs=EPOCHS, steps_per_epoch=steps_per_epoch)

Epoch 1/35
WARNING:tensorflow:From /opt/conda/lib/python3.6/site-packages/tensorflow/python/ops/math_ops.py:3066: to_int32 (from tensorflow.python.ops.math_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.cast instead.
2096/2096 [==============================] - 13s 6ms/step - loss: 12.6648
Epoch 2/35
2096/2096 [==============================] - 12s 6ms/step - loss: 11.2186
Epoch 3/35
2096/2096 [==============================] - 12s 6ms/step - loss: 10.8669
Epoch 4/35
2096/2096 [==============================] - 12s 6ms/step - loss: 10.5832
Epoch 5/35
2096/2096 [==============================] - 11s 5ms/step - loss: 10.3760
Epoch 6/35
2096/2096 [==============================] - 11s 5ms/step - loss: 10.1995
Epoch 7/35
2096/2096 [==============================] - 11s 5ms/step - loss: 10.2332
Epoch 8/35
2096/2096 [==============================] - 11s 5ms/step - loss: 10.1134
Epoch 9/35
2096/2096 [==============================] - 11s 5ms/step - loss: 9.9618
Epoch 10/35
2096/2096 [==============================] - 11s 5ms/step - loss: 9.8217
Epoch 11/35
2096/2096 [==============================] - 11s 5ms/step - loss: 9.7739
Epoch 12/35
2096/2096 [==============================] - 12s 6ms/step - loss: 9.6378
Epoch 13/35
2096/2096 [==============================] - 11s 5ms/step - loss: 9.5399
Epoch 14/35
2096/2096 [==============================] - 11s 5ms/step - loss: 9.4458
Epoch 15/35
2096/2096 [==============================] - 11s 5ms/step - loss: 9.4051
Epoch 16/35
2096/2096 [==============================] - 11s 5ms/step - loss: 9.3159
Epoch 17/35
2096/2096 [==============================] - 11s 5ms/step - loss: 9.2037
Epoch 18/35
2096/2096 [==============================] - 11s 5ms/step - loss: 9.1605
Epoch 19/35
2096/2096 [==============================] - 11s 5ms/step - loss: 9.0366
Epoch 20/35
2096/2096 [==============================] - 11s 5ms/step - loss: 8.9602
Epoch 21/35
2096/2096 [==============================] - 11s 5ms/step - loss: 8.9100
Epoch 22/35
2096/2096 [==============================] - 11s 5ms/step - loss: 8.8310
Epoch 23/35
2096/2096 [==============================] - 11s 5ms/step - loss: 8.7310
Epoch 24/35
2096/2096 [==============================] - 11s 5ms/step - loss: 8.6988
Epoch 25/35
2096/2096 [==============================] - 11s 5ms/step - loss: 8.6853
Epoch 26/35
2096/2096 [==============================] - 11s 5ms/step - loss: 8.5308
Epoch 27/35
2096/2096 [==============================] - 11s 5ms/step - loss: 8.4914
Epoch 28/35
2096/2096 [==============================] - 11s 5ms/step - loss: 8.4625
Epoch 29/35
2096/2096 [==============================] - 11s 5ms/step - loss: 8.3587
Epoch 30/35
1209/2096 [================>.............] - ETA: 4s - loss: 8.2454

In [25]:
model_ = build_model(rnn_units=1024, batch_size=1)

weights = model.get_weights()

model_.set_weights(weights)

In [26]:
test_files = os.listdir('../input/test/')

In [27]:
result = dict()
for file in test_files:
    
    df = pd.read_csv('../input/test/' + file)
    
    data = np.array(extract_features(df))

    X_test = normalize(data.reshape(1, -1))
    X_test = X_test.reshape(1, 1, 405)
    prediction = model_.predict(X_test)[0]
    result[file[::-1][4:][::-1]] = prediction

In [28]:
result_df = pd.DataFrame.from_dict(result, orient='index', columns=['time_to_failure'])
result_df.head(n=2)

            time_to_failure
seg_37669c         6.079026
seg_5975f4         6.531628

In [29]:
result_df.to_csv('./submission.csv', columns=['time_to_failure'], index_label='seg_id')